body {
    margin: 0;
    padding: 0;
    font-family: "basic-sans", sans-serif;
}

.container {
    margin: 0 auto;
    width: 70vw;
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0077ed;
    margin-top: 20px;
    font-size: 4em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="file"],
input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: "basic-sans", sans-serif;
}

input[type="submit"],
button {
    background-color: #0077ed;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #0077ed;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


main{
    width: 70vw;
    margin: 0  auto;
    font-family: "basic-sans", sans-serif;
}
