html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* ================================== */


.flex{
    display: flex;
}

.propos_container{
    width: 70vw;
    margin: 0 auto;
}
.propos_block{
    background: whitesmoke;
    border-radius: 24px;
    padding: 4%;
    width: 33vw;
    font-family: "basic-sans", sans-serif;
    line-height: 1.5;
    font-size: 112%;

}
.img_apropos{
    width: 430px;
}
.partie{
    justify-content: space-between;
    margin-bottom: 7%;
}
.partie_c{
    align-items: center;
}

.G{
    font-family: "ropa-sans-arabic", sans-serif;
    color: #0077ed;
    font-size: 4em;
}
.groupe_line_g{
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}
.groupe_line_d{
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    align-items: end;
}
.aph{
    margin-top: 50px;
}