css/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* FIN RESET */
.article_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img_article {
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 20px;
}
#img_article img {
    width:100%;
    height: 100%;
    border-radius: 2vh;
}
#text_article {
    margin-top: -20%;
    margin-bottom: 5%;
    width:50%;
    border-radius: 2vh;
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    padding:40px;
    font-family: "basic-sans", sans-serif;
    font-size: 20px;
}
.detail_article {
    display: flex;
    gap: 1em;
    margin-top: 5%;
    margin-bottom: 5%;
}
.article_titre h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;;
}
.nom_categorie {
    color: #0077ed;
}