/* Styles pour le formulaire et les articles */
#blog_titre {
    margin: 0 auto;
    margin-top: 7vh;
    margin-bottom: 3vh;
    width: 70%;
    font-size: 3em;
    font-family: "ropa-sans-arabic", sans-serif;
    color: #0077ed;
    text-align: start;
}
form {
    margin: 20px auto;
    text-align: center;
}
.tous_articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px auto; /* Ajout d'une marge en haut et en bas */
}
#tous_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_article {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.article {
    width: 30%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 2vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    margin-right: 20px;
    font-family: "basic-sans", sans-serif;
    padding-bottom: 2vh;
}
.article {
    position: relative;
    display: inline-block;
}

.article:nth-child(3n) {
    margin-right: 0; /* Supprimer la marge à droite de chaque troisième article */
}

.article img {
    width: 100%; /* Assure que l'image occupe toute la largeur du conteneur */
    height: 200px; /* Définissez ici la hauteur souhaitée pour les images */
    object-fit: cover; /* Pour couvrir l'espace disponible sans déformation */
    border-radius: 2vh 2vh 0 0; /* Ajoutez une bordure arrondie aux images */
    margin-bottom: 2vh;
    z-index: 1;
}
.article h3, .article p, .article small {
    padding-left: 2vh;
    margin-bottom: 2vh;
}
/* Styles pour la barre de recherche et le menu déroulant */
.recherche,
.tri {
    text-align: center;
    margin-bottom: 20px;
}
.tri {
    margin-left: 50px;
}

.recherche input[type="search"] {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #0077ed;
    border-radius: 5px;
}

.recherche input[type="submit"],
.tri input[type="submit"] {
    background-color: #0077ed;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recherche input[type="submit"]:hover,
.tri input[type="submit"]:hover {
    background-color: #0056b3;
}

.tri select {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #0077ed;
    border-radius: 5px;
    background-color: #fff;
    color: #37373a;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #0077ed;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* .nav_footer {
    display: flex;
    justify-content: center;
}

.nav_item_footer {
    margin-right: 20px;
}

.nav_item_footer a {
    color: #fff;
    text-decoration: none;
} */
