body{
    min-height: 100vh;
}
.blog-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom:45px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.blog-header h1 {
    margin: 0;
    font-family: "ropa-sans-arabic", sans-serif;
    font-size: 3em;
    color: #0077ed;
}

.blog-header a {
    color: black; /* Couleur du texte du lien */
    text-decoration: none; /* Enlève le soulignement */
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    width: 30%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
}

.article-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.article-body {
    padding: 20px;
    text-decoration: none;
}

.article-description, .article-title, .article-footer {
    margin: 10px 0;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.reading-time, .article-date, .article-title {
    margin-top: 10%;
}

.reading-time, .article-date, .article-title, .article-description, .blog-header a {
    font-family: "basic-sans", sans-serif;
    text-decoration: none;
}
footer{
    justify-content: end;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span{
    text-decoration: none;
}