css/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fin reset */

#ajout_categorie {
    background: #F5F5F7;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width:70%;
    margin:0 auto;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: center;
    padding: 30px;
}
h1 {
    width:100%;
    text-align: center;
    font-family: "ropa-sans-arabic", sans-serif;
    font-weight: 900;
    font-size: 50px;
    font-style: normal;
    margin-bottom: 30px;
}
form {
    width:50%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.formulaire {
    width:100%;
    padding-left: 33%;
}
input, textarea {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
}
textarea {
    resize:none;
}
input[type="submit"]{
    width:20%;
    padding:5px;
    background: #0077ED;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}
input[type="submit"]:hover{
    opacity: 0.5;
}
#retour_accueil {
    width :80%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
#retour_accueil button {
    padding:10px;
    background: rgb(84, 83, 83);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}
#retour_accueil button:hover{
    opacity:0.5;
}