css/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FIN RESET */

#connexion_container {
  width:100%;
}
.connexion_container {
  margin: 0 auto;
  width: 50%;
  height: 50vh;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-top :30px;
  justify-content: center;
  font-family: "basic-sans", sans-serif;
  font-size: 20px;
}
.titre_connexion, form, .mdp_oublie {
  width:90%;
}
#formulaire_connexion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:40px;
}
#formulaire_connexion input {
  width:80%;
  height: 25%;
  border: none;
  background: #F5F5F7;
  margin-bottom: 30px;
  border-radius: 0.9vh;
}
.input_connexion{
  width:20% !important;
  height:15% !important;
  border: none !important;
  background-color: #007bff !important;
  color: white !important;
  border-radius: 0.9vh !important;
}
button {
  width:20%;
  height:15%;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0.9vh;
}
button:hover {
  background-color: #0056b3;
}
.titre_connexion {
  height: 5%;
  display: flex;
  justify-content: center;
  gap:2em;
}
.input_mdp .input_email{
  padding-left: 200% !important;
}
.titre_connexion a {
  text-decoration: none;
  color: black;
}
.mdp_oublie {
  width:100%;
  background: #F5F5F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mdp_oublie a {
  text-decoration: none;
  color: black;
}
input::placeholder {
  text-align: center;
}
#connexion_btn, .inscription_btn {
  text-decoration: underline;
  text-decoration-color: #007bff;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;

}
.inscription_container {
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-top :30px;
  justify-content: center;
  font-family: "basic-sans", sans-serif;
  font-size: 18px;
}
#formulaire_inscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20%;
  gap: 1em;
}
#formulaire_inscription input {
  width:80%;
  height: 20%;
  border: none;
  background: #F5F5F7;
  margin-bottom: 10px;
  border-radius: 0.9vh;
}

#inscription {
  display: none;
}
.connexion_btn, .inscription_btn, #connexion_btn, #inscription_btn {
    cursor: pointer;
}