html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* FIN RESET */
body{
    background-image: url(../img/IC_fond.svg);
    background-position: center;
}
.flex{
    display: flex;
}
.main-container h1 {
    font-size: 3em;
    font-family: "ropa-sans-arabic", sans-serif;
    color: #0077ed;
    margin-bottom: 5%;
    margin-top: 2%;
}
.main-container h2 {
    font-weight: bold;
    margin-bottom: 15px;
}
.main-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    gap: 4%;
    margin-bottom: 20px;
}
main {
    color: rgb(0, 0, 0); /* Couleur du texte des liens */
    text-decoration: none; /* Enlève le soulignement */
    font-family: "basic-sans", sans-serif;
}
.info-block {
    width: 30%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    padding: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.info-block p {
    font-size: 15px;
}
#map, #tel, #mail {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25%;
    left: 42%;
}
#map img, #tel img, #mail img {
    max-height:50%;
}
.info-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #0077ed;
}
.form-container {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 50px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
}
.form-group:not(:last-child) {
    margin-right: 10px;
}
.form-group label {
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    height: 100px;
    resize: none;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
