html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

.flex {
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.line {
    background: white;
    width: 80%;
    height: 1px;
    margin-top: 1%;
}

footer {
    background-image: url(../img/BG_footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "basic-sans", sans-serif;
    color: white;
    height: 30vh;
    justify-content: end;
    flex-direction: column;
}

footer a {
    color: white;
    /* Couleur du texte des liens */
    text-decoration: none;
    /* Enlève le soulignement */
    font-family: "basic-sans", sans-serif;
}

.categorie_footer {
    justify-content: center;
    align-items: center;
}

.nav_item_footer {
    border: white 1px solid;
    border-radius: 4px;
    width: 10%;
    text-align: center;
    padding: 4px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav_footer {
    justify-content: center;
    gap: 0.5%;
}

.nav_footer ul {
    justify-content: center;
    padding: 10px;
}

.categorie_footer ul li {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#categorie_footer {
    justify-content: center;
}

.footer_down {
    justify-content: space-between;
    margin-top: 1%;
    padding-bottom: 1%;
}

.footer_identite {
    align-items: end;
    gap: 6%;
}

#logo_footer {
    width: 15%;
}

.text_identite {
    flex-direction: column;
    gap: 50%;
    height: 100%;
    width: 100%;
}

.mentions {
    gap: 2%;
}

.p_id {
    font-family:  "basic-sans", sans-serif;
    font-weight: bold;
}

.footer_contact {
    flex-direction: column;
    display: flex;
    align-items: end;
}

#img_mail {
    width: 3%;
    margin-right: 7px;
}

.footer_contact_mail {
    justify-content: end;
}

.footer_contact_mail p {
    font-family: "basic-sans", sans-serif;
}