html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* FIN RESET */

.header {
    display: flex;
    height: 80px;
    background: white;
    border-bottom: 2px solid #0077ed;
    font-family: "basic-sans", sans-serif;
    z-index:2;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
.logo {
    width:20%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.logo img {
    width:100%;
    max-height:80%
}
nav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 5em;
}
.CTA {
    width:20%;
    display: flex;
    align-items: center;
}
.CTA a {
    color:#000000;
    text-decoration: none;
    margin-left: 10px;
}
.CTA a:hover {
    color:#0077ed;
}
.icone {
    height:40px;
    width:40px;
    border: 2px solid #000000;
    border-radius: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone img {
    width:80%;
    max-height: 80%;
    cursor: pointer;
}
nav a {
    color:#000000;
    text-decoration: none;
}
nav a:hover{
    color:#0077ed;
}
.sousMenu {
    height: 50px;
    display: flex;
    justify-content: center;
    background: #0077ed;
    transition-duration: 0.5s;
}
.sousMenu ul{
    font-family: "basic-sans", sans-serif;
    color:white;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
#sousMenu {
    display: none;
}
#sousMenu ul li {
    display: block;
}
.sousMenu ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.sousMenu ul li:hover a {
    text-decoration: underline;
}
/* Style de la pop-up */
.popup {
    display: none;
    width:35%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px 0px 30px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    z-index: 9999;
}
.popup h2 {
    font-family: "basic-sans", sans-serif;
    margin-bottom: 25px;
}
.popup button {
    border: none;
    background: #0077ed;
    color: white;
    width:15%;
    padding:10px;
    border-radius: 5px;
}
#close_popup {
    margin-top: 30px;
}
.popup input {
    border: none;
    background: #e9e9e9;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
/* Style du fond sombre */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

/* SECTION SLIDER */

.slider {
    max-width: 100%;
    height:60vh;
    position: relative;
}
.slider_content {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slider_content_item {
    height: 100%;
    min-width: 100%;
}
.slider_nav button {
    background:transparent;
    border: none;
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.slider_nav button:hover {
    transform: translateY(-50%) scale(1.1);
}
.previousBtn {
    left:20px;
}
.nextBtn {
    right:20px;
}

/* SECTION INTRO */
.introduction {
    height: 570px;
    display: flex;
    justify-content: center;
}
.intro_container{
    margin-top:50px;
    width:80%;
    display: flex;
    
}
.intro_text {
    width:560px;
    font-family: "basic-sans", sans-serif;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_text h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 1000;
}
.intro_text h3{
    font-size:20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.intro_text p{
    font-size:20px;
}
.intro_img {
    width: 560px;
    height: 450px;
}
/* SECTION CATEGORIE */
.categories {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background:#F5F5F7;
}
.wiper-track li {
    background:white;
    border-radius:20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.categories h2 {
    text-align: center;
    margin-top: 30px;
    width:100%;
    font-family:"basic-sans", sans-serif;
    font-size: 30px;
    font-weight: 1000;
}
.wiper-track {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5rem;
    margin: 0 auto;
    transition: transform 0.4s ease-in;
    padding: 0 1rem;
}
.wiper-item {
    width: 200px;
    height: 200px;
    position: relative;
    transition: scale 0.2s linear;
    padding:10px;
    display: flex;
    flex-direction: column;
}
.wiper-item img {
    width:50px;
    height: 50px;
}
.wiper-item p {
    font-family: "basic-sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.wiper-button img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.wiper {
    width:70%;
    position: relative;
    margin: 0 auto;
}
.active-swipe {
    transform: scale(1.1);
}
.wiper-button {
    margin: 0 1rem;
    height: 70px;
    width: 45px;
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
    transform: translateY(-50%);
    z-index: 1;
}
.wiper-button__left {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
}
.wiper__image-button {
    right: 50%;
    top: 50%;
    position: absolute;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    background-color: white;
    border: none;
    font-size: 1.4rem;
    transform: translateY(-50%) translateX(50%);
    cursor: pointer;
}
.wiper-wrapper {
    max-width: 70%;
    overflow: hidden;
    padding: 2rem 0.5rem;
    margin: 0 auto;
    margin-bottom: 20px;
}
.wiper__image{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius:30px;
}
.is-hidden{
    display:none;
}

/* SECTION EQUIPE */

.equipe {
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#equipe {
    position :relative ;
}
#equipe button {
    position: absolute;
    bottom:0;
    right: 170px;
    background: #0077ed;
    border: none;
    border-radius: 10px;
    width: 10%;
    height: 5%;
}
#equipe a {
    text-decoration: none;
    color: white;
    font-family: "basic-sans", sans-serif;
}
#equipe h2 {
    text-align: center;
    font-family: "basic-sans", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 1000;
    margin-top: 50px;;
}
#ewen, #dorine, #alex {
    width:20%;
    text-align: center;
}
#ewen img, #dorine img, #alex img{
    border-radius: 20px;
    max-height: 70%;
}
#dorine {
    margin-top: 40px;
}
#dorine img{
    max-height: 80%;
}
#ewen p, #dorine p, #alex p {
    font-family: "basic-sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
#hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}
/* SECTION TEMOIGNAGE */

#temoignage {
    height:50vh;
    font-family:"basic-sans", sans-serif;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#temoignage h2 {
    width: 100%;
    color: #0077ed;
    margin-top: 30px;
    width:100%;
    font-size: 20px;
    font-weight: 1000;
}
#temoignage h3 {
    width: 100%;
    color: #0077ed;
    font-size:30px;
    margin-top: 20px;
    font-weight: 600;
}
.temoignage {
    width:80%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap:2em;
}
.com1, .com2 {
    height: 200px;
    width: 40%;
    background:white;
    border-radius:20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
    border: 1px solid #F5F5F7;
}
.com1 img, .com2 img {
    position: absolute;
    top: -40px;
    right: 30px;
    z-index:1;
}
.com1 h4, .com2 h4 {
    color:#000000;
    font-weight: 600;
    margin-top: 10px;
}
.com1 p, .com2 p {
    margin-top:50px;
    padding-left: 15px;
    padding-right: 15px;
}