/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/* FIN RESET */

#connexion_container {
  width:100%;
}
.connexion_container {
  margin: 0 auto;
  width: 50%;
  height: 50vh;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-top :30px;
  justify-content: center;
  font-family: "basic-sans", sans-serif;
  font-size: 20px;
}
.titre_connexion, form, .retour {
  width:90%;
}
#formulaire_oublie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:40px;
}
#formulaire_oublie input {
  width:80%;
  height: 25%;
  border: none;
  background: #F5F5F7;
  margin-bottom: 30px;
  border-radius: 0.9vh;
}
button {
  width:20%;
  height:15%;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0.9vh;
}
button:hover {
  background-color: #0056b3;
}
.titre_connexion {
  height: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.titre_connexion a {
  text-decoration: none;
  color: black;
}
.retour {
  width:100%;
  background: #F5F5F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retour a {
  text-decoration: none;
  color: black;
}
input::placeholder {
  text-align: center;
}
#info_oublie {
  text-decoration: underline;
  text-decoration-color: #007bff;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  margin-bottom: 6%;

}
.inscription_container {
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.11);
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-top :30px;
  justify-content: center;
  font-family: "basic-sans", sans-serif;
  font-size: 18px;
}
#formulaire_inscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20%;
  gap: 1em;
}
#formulaire_inscription input {
  width:80%;
  height: 20%;
  border: none;
  background: #F5F5F7;
  margin-bottom: 10px;
  border-radius: 0.9vh;
}

#inscription {
  display: none;
}
.info_oublie, .inscription_btn, #info_oublie, #inscription_btn {
    cursor: pointer;
}