html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

.flex{
    display: flex;
}

#PDC{
    font-family: "ropa-sans-arabic", sans-serif;
    color: #0077ED;
    text-align: center;
    font-size: 69px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 3%;
}
.fond{
    padding: 50px;
    margin-top: 30px;
    margin: 10% auto;
    font-family: "basic-sans", sans-serif;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.11);
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    margin-bottom: 5% !important;
}

.DP{
    text-decoration: none; 
    font-family: "basic-sans", sans-serif;
    color: #0e4d8d;
    font-weight: bold;
}
.fond h2{
    margin: 11px 0;
    font-weight: bold;
    font-size: 22px;
}
h1{
    font-size: 3em;
    font-family: "ropa-sans-arabic", sans-serif;
    color: #0077ed;
    margin-bottom: 5%;
    margin-top: 2%;

}